#network {
    overflow-x: scroll;
}

#module_wrapper {
    overflow-x: scroll;
}

#module_wrapper, #module {
    transform:rotateX(180deg);
    -moz-transform:rotateX(180deg); /* Mozilla */
    -webkit-transform:rotateX(180deg); /* Safari and Chrome */
    -ms-transform:rotateX(180deg); /* IE 9+ */
    -o-transform:rotateX(180deg); /* Opera */
}

#tooltip {
    position: absolute;
    background-color: lightskyblue;
    padding: 5px;
    border-radius: 4px;
    border-style: solid;
    border-color: black;
}

.clickable:hover {
    cursor: pointer;
}

.leaf#active {
    fill: aqua !important;
}

.leaf#active:active {
    fill: rgb(2, 189, 189) !important;
}

#active.kernel_cell {
    stroke: blue !important;
}

#active.bar {
    stroke: red !important;
}